swagger: #接口注解文档
  enable: true # 是否开启swagger
  basepackage: com.billow.gateway.api #必须要有 GetMapping，PostMapping...
  service:
    name: ${spring.application.name} #api名称
    version: 3.0
    description: 警告：此API仅用于测试，禁止任何商业用途，否则一切后果自行承担！！！ #api描述
    contact:
      developer: billow #api开发者
      url: https://github.com/Xiao-Y/learn
      email: lyongtao123@126.com #api开发者
server:
  port: 8771

# 如果路由方式是serviceId的方式，那么ribbon的生效，如果是url的方式，则zuul.host开头的生效
ribbon:
  ReadTimeout: 15000
  ConnectTimeout: 10000

spring:
  application:
    name: learn-cloud-gateway
  resources: #指定静态资源路径，多个使用英文逗号隔开。如：html,js.jsp
    static-locations: ${config.gateway.static.locations}
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: public-auth
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-public-auth
          predicates:
            - Path=/public-auth/**
          # 加上StripPrefix=1，否则转发到后端服务时会带上consumer前缀
          filters:
            - StripPrefix=1
        - id: admin-system
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-admin-system
          predicates:
            - Path=/admin-system/**
        - id: admin-user
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-admin-user
          predicates:
            - Path=/admin-user/**
        - id: core-order
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-core-order
          predicates:
            - Path=/core-order/**
        - id: core-product
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-core-product
          predicates:
            - Path=/core-product/**
        - id: core-search
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-core-search
          predicates:
            - Path=/core-search/**
        - id: core-seckill
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-core-seckill
          predicates:
            - Path=/core-seckill/**
        - id: public-job
          # lb代表从注册中心获取服务，且已负载均衡方式转发
          uri: lb://learn-shop-public-job
          predicates:
            - Path=/public-job/**
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: 'http://localhost:8999/rsa/publicKey' # 获取公钥

# 自己定义安全配置
secure:
  client: # 登陆客户端配置
    client-id: webapp
    client-secret: webapp
    scope: webapp
    grant-type: password
    access-token-uri: "http://learn-shop-public-auth/oauth/token"
  white-list:
    - "/actuator/**"              # 健康检查
    - "/userApi/*"                # 获取用户信息
    - "/public-auth/oauth/token"  # 获取token或者刷新token
    - "/public-auth/rsa/publicKey"  # 获取公钥
    - /dataRecovery/initData     # 数据还原
    # swagger 配置
    - /v3/**
    - /**/v3/**
    - /swagger-resources/**
    - /swagger-resources
    - /course/coursebase/**
    - /swagger-ui/**
    - /favicon.ico
    - /**/*App/**
  need-check:
    - "/**/*Api/**"
    - "/*Api/**"