<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billow.system.dao.ApplyInfoDao">

        <!-- 开启二级缓存 -->
        <!-- 注意：默认为 flushCache="true" useCache="true" -->
        <!-- 1.自定义查询方法时，必须 flushCache="false" useCache="false"， -->
        <!-- 2.更新，添加，删除时，必须 flushCache="true" useCache="true" 或者不添加 -->
        <!-- 3.请务修改 cache-ref 中的配置 -->
        <cache-ref namespace="com.billow.system.dao.ApplyInfoDao"/>
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.billow.system.pojo.po.ApplyInfoPo">
                <result column="id" property="id"/>
                <result column="create_time" property="createTime"/>
                <result column="creator_code" property="creatorCode"/>
                <result column="update_time" property="updateTime"/>
                <result column="updater_code" property="updaterCode"/>
                <result column="valid_ind" property="validInd"/>
                    <result column="apply_data" property="applyData"/>
                    <result column="apply_type" property="applyType"/>
                    <result column="apply_user_code" property="applyUserCode"/>
                    <result column="is_end" property="isEnd"/>
                    <result column="proc_def_id" property="procDefId"/>
                    <result column="proc_inst_id" property="procInstId"/>
                    <result column="vo_clazz" property="voClazz"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
                create_time,
                creator_code,
                update_time,
                updater_code,
                valid_ind,
            apply_data, apply_type, apply_user_code, is_end, proc_def_id, proc_inst_id, vo_clazz
        </sql>

</mapper>
